[access "refs/*"]
	owner = group user/Gejza'X (gejza)
[access "refs/for/refs/*"]
	read = group user/Gejza'X (gejza)
	push = group user/Gejza'X (gejza)
	label-Code-Review = -2..+2 group user/Gejza'X (gejza)
	label-Verified = -1..+1 group user/Gejza'X (gejza)
	rebase = group user/Gejza'X (gejza)
	removeReviewer = group user/Gejza'X (gejza)
	submit = group user/Gejza'X (gejza)
[access "refs/heads/*"]
	read = group user/Gejza'X (gejza)
	create = group user/Gejza'X (gejza)
	push = +force group user/Gejza'X (gejza)
	pushMerge = group user/Gejza'X (gejza)
[access "refs/tags/*"]
	push = +force group user/Gejza'X (gejza)
	pushTag = group user/Gejza'X (gejza)
	pushSignedTag = group user/Gejza'X (gejza)
